.box {
    display: flex;
    padding: 10px;
 }

 #crew {
     color: purple;
     border: dashed lightgoldenrodyellow 2mm;
     font-family: 'Courier New', Courier, monospace;
 }

 #equip {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: rgb(122, 31, 47);
     border: dotted 5px goldenrod;
 }

 #experiment {
     border: dotted chartreuse .5in;
 }